.composition {
  position: relative;
  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 2px;
    position: absolute;
    outline-offset: 2rem;
    transition: all 0.4s;
    z-index: 10;

    &--p1 {
      left: 0;
      top: -2rem;
    }
    &--p2 {
      right: 0;
      top: 2rem;
    }
    &--p3 {
      left: 20%;
      top: 10rem;
    }

    &:hover {
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.4);
      transform: scale(1.1) translateY(-2px);
      z-index: 20;
      outline: 1.5rem solid $color-primary;
    }
  }
}
